h1 {
  color: #000;
	margin-top: 20px;
	margin-bottom: 10px;
}

h2 {
	font-size: 16px;
	font-weight: bold;
}

h3 {
	font-size: 14px;
}

.wrapper {
	.no-result {
		margin-top: 30px;
		p {
			color: #FF4E3E;
		}
	}
}

.filters {
	margin-top: 50px;
	margin-bottom: 10px;
}

